#include "entity_authority_frames.h"

SAO_UI_ENTITY_AUTHORITY_NERVEGEAR_IDLE RCDATA "../assets/entity/w19_entity_nervegear_idle.bgra"
SAO_UI_ENTITY_AUTHORITY_NERVEGEAR_HOVER RCDATA "../assets/entity/w19_entity_nervegear_hover.bgra"
SAO_UI_ENTITY_AUTHORITY_NERVEGEAR_PRESSED RCDATA "../assets/entity/w19_entity_nervegear_pressed.bgra"
